.blue-theme {
    --font-color-200: #ffffffde;
    --font-color-300: #bbb;
    --font-color-400: #999;
    --bg-color-800: #01111D;
    --bg-color-700: #021320;
    --bg-color-600: #031626;
    --bg-color-500: #0b2a44;
    --secondary-color: #37414a;
    --accent-color: #9c58fc;
    --error-color: #f10505;
}
