.default-theme {
    --font-color-200: #ffffffde;
    --font-color-300: #bdbdbd;
    --font-color-400: #bbb;
    --bg-color-800: #242424;
    --bg-color-700: #282828;
    --bg-color-600: #333;
    --bg-color-500: #444;
    --secondary-color: #999;
    --accent-color: #ea6d30;
    --error-color: #8f1e1e;
}