.light-theme {
    --font-color-200: #242424;
    --font-color-300: #333;
    --font-color-400: #444;
    --bg-color-800: #e9e9e9;
    --bg-color-700: #f0f0f0;
    --bg-color-600: #f6f6f6;
    --bg-color-500: #fff;
    --secondary-color: #777;
    --accent-color: #42b0cd;
    --error-color: #f10505;
}
