.project-card {
    width: 20rem;
    margin: 1rem;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
}
.project-card h2 {
    text-align: center;
    font-size: 24px;
    color: #ddd;
}
.project-card>p {
    flex-grow: 1;
    padding: 0.5rem;
}
.project-card .screenshot {
    height: 10rem;
    width: 20rem;
}
.project-card .learn-more-nav {
    margin: 0.5rem;
    padding: 0.2rem 1rem;
    text-align: center;
    color: #bbb;
    text-decoration: none;
    border: 1px solid #bbb;
    border-radius: 1rem;
}
.project-card .learn-more-nav:hover {
    background-color: #bbb;
    color: #333;
}