:root {
  font-family: Monospaced, monospace;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
  opacity: 0.8;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color-500) var(--bg-color-800);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color-800);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-600);
  border-radius: 20px;
  border: 3px solid var(--bg-color-800);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-color-500);
}
