:root {
  font-family: Monospaced, monospace;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
  opacity: 0.8;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
}
