:root {
  font-family: Monospaced, monospace;
  font-weight: 400;

  --font-color-200: #ffffffde;
  --font-color-300: #bdbdbd;
  --font-color-400: #bbb;

  --bg-color-800: #242424;
  --bg-color-600: #333;
  --bg-color-500: #444;

  --secondary-color: #999;

  --accent-color: #ea6d30;

  --error-color: #8f1e1e;

  color-scheme: dark only;
  color: var(--font-color-200);
  background-color: var(--bg-color-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
  opacity: 0.8;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
}
